.newContainer{
    border: 1px solid #6F45B8;
    background-color: #6F45B8;
}

.container{
    //padding-top: 50px;
    height: calc(100vh - 40px);
}

h1{
    color:white;
}

.formulario{
    color:white;
}

.botonAgregar{
    border: 1px solid #72E6AD;
    background-color: #6F45B8;
}

.botonAgregar:hover{
    border: 1px solid #72E6AD;
    background-color: #72E6AD;
}


// border: 1px solid #72E6AD;
//background-color: #6F45B8;